.update-password-container {
    max-width: 500px;
    /* margin: 50px auto; */
    padding: 20px;
    background-color: #ecf1f3;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.update-password-title {
    text-align: center;
    margin-bottom: 20px;
}

.update-password-form .form-group {
    margin-bottom: 15px;
}

.update-password-form label {
    font-weight: bold;
}

.update-password-form .form-control {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.update-password-form .form-control:focus {
    border-color: #007bff;
    outline: none;
}

.btn-reset {
    display: flex;
    justify-content: flex-end;
    gap: 2%;
}

.cancel-btn {
    border-color: #43D79E;
    color: #43D79E;
}

.cancel-btn:hover {
    background-color: #43D79E;
    border-color: #43D79E;
    color: white;
}

.password-btn {
    color: white;
}

.password-btn:hover {
    color: white;
    /* background-color: #35c0e4; */
}

.right-wrap {
    background-color: #ecf1f3;
    margin-left: 250px;
    padding: 20px;
    border-radius: 8px;
    min-height: 90vh;
    background-color: #ecf1f3;
    margin-top: -19px;
}